{{ define "main" }}
<div class="section">
	<div class="container">
		<div class="spinner row">
			<div class="column center">
				<div class="lds-ellipsis">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
		<div class="row hidden empty-message">
			<div class="column center">
				Your basket is empty
			</div>
		</div>
		<div class="row column-reverse">
			<div class="column">
				<div class="concerts"></div>
			</div>
			<div class="column right">
				<div class="row totals">
					<!--
					<div class="sub-total"><span>Sub-Total: </span><span class="sub-total-value">0</span></div>
					<div class="transaction-fee"><span>Transaction Fee: </span><span class="transaction-fee-value">0</span></div>
					-->
					<div class="total"><span>Total: </span><span class="total-value">0</span></div>
					<a class="call-to-action checkout" href="/checkout">Proceed to Checkout</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
