{{ define "main" }}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="column center">
					Please contact us using the form below:
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="column center">
					<form onSubmit="processForm(event)">
						<div class="form-input">
							<input id="name" type="text" class="text-input" required>
						<label for="name" class="floating-label">Name</label>
						</div>
						<div class="form-input">
							<input id="email" type="email" class="text-input" required>
							<label for="email" class="floating-label">Email Address</label>
						</div>

						<div class="form-input">
							<textarea id="message" rows="4" cols="50" required></textarea>
							<label for="message" class="floating-label">Message</label>
						</div>
						<div class="g-recaptcha" data-sitekey="{{ .Site.Params.RecaptchaKey }}"></div>
						<input class="form-submit" type="submit">
					</form>
					<div class="feedback-section page-row container">
						<div class="alert alert-success transparent">
							<i class="fas fa-check-circle"></i>
							Message sent to Philomusica. We will respond to your message as soon as possible!
						</div>
						<div class="alert alert-fail transparent">
							<i class="fas fa-exclamation-circle"></i>
							Something went wrong! Please try again later.
						</div>
						<div class="alert alert-warn transparent">
							<i class="fas fa-exclamation-circle"></i>
							Please tick "I'm not a robot".
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}
