{{ define "main" }}
	<div>
		<div class="section">
			<div class="container">
				{{ if not .Parent.IsHome }}
					<a href="{{ .Parent.RelPermalink }}">< Back to {{ .Parent.Title }}</a>
				{{ end }}
				<div>{{ .Content }}</div>
				{{ range .Pages }}
					{{ $image := "" }}
					{{ $image_description := "" }}
					{{ if isset .Params "sections" }}
						{{ $section := index (.Params.Sections) 0 }}
						{{ $image = $section.image }}
						{{ $image_description = $section.image_description }}
					{{ end }}
					{{ if isset .Params "thumb" }}
                          {{ $image = .Params.thumb.image }}
                          {{ $image_description = .Params.thumb.image_description }}
					{{ end }}
					{{ if isset .Params "no_thumb" }}
						{{ $image = "" }}
						{{ $image_description = "" }}
					{{ end }}
					<a aria-label="Link to {{ .Title }}" class="media-link" href="{{ .RelPermalink }}">
						<article>
							{{ if not (eq $image "") }}
							<div class="list-image">
								<img alt="{{ $image_description }}" src="{{ $image }}">
							</div>
							{{ end }}
							<div class="list-title">
								<h2>{{ .Title }}</h2>
								More info...
							</div>
						</article>
					</a>
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}

