{{ define "main" }}
	{{ if not .Parent.IsHome }}
		<div class="container">
			<a href="{{ .Parent.RelPermalink }}">< Back to {{ .Parent.Title }}</a>
		</div>
	{{ end }}
	<div>
	{{ range $i, $e := .Params.sections }}
		<div class="section">
			<div class="container">
				<div class="row{{ if not (modBool $i 2) }} reverse{{ end }}">
					{{ if isset $e "image" }}
						<div class="column">{{ $e.text | markdownify }}</div>
						<div class="center column">
							<img class="column-image" alt="{{ $e.image_description }}" loading="lazy" src="{{ $e.image }}"/>
						</div>
					{{ else }}
						<div class="column center">{{ $e.text | markdownify }}</div>
					{{ end }}
				</div>
			</div>
		</div>
	{{ end }}
	</div>
{{ end }}
