<footer>
  <div class="container">
    <div class="footer-text">
      <div>© Philomusica 2023</div>
	  <div>
		  <a href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regid=1032335&subid=0">Registered Charity 1032335</a>
	  </div>
	  <div>
		  <a href="/docs/privacy-statement-2023.pdf">Privacy Statement</a>
	  </div>
    </div>
    <div class="social-media-links">
      <a class="media-link" aria-label="Link to Philomusica's facebook page" href="https://www.facebook.com/groups/134742876558816">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="media-link" aria-label="Link to Philomusica's twitter page" href="https://twitter.com/Philomusica40">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
<script src="/js/headerAndFooter.js"></script>
<script type="module" src="/js/basket-counter.js"></script>
{{ if isset .Params "table" }}
	<script src="/js/table.js"></script>
{{ else if isset .Params "contact" }}
	<script src="/js/contact.js"></script>
{{ else if isset .Params "photos" }}
	<script src="/js/fslightbox.js"></script>
{{ else if isset .Params "tickets" }}
	<script type="module" src="/js/tickets.js"></script>
{{ else if isset .Params "basket" }}
	<script type="module" src="/js/basket.js"></script>
{{ else if isset .Params "checkout" }}
	<script type="module" src="/js/checkout.js"></script>
{{ else if isset .Params "complete" }}
	<script type="module" src="/js/complete.js"></script>
{{ end }}
